# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Databricks
.databricks/

# Local Spark (warehouse + Derby metastore created by tests)
spark-warehouse/
metastore_db/
derby.log

# IDE
.idea/
.vscode/
*.swp

# Environment
.env
.env.*
!.env.example
