resources:
  jobs:
    {{ package_name }}_job:
      name: "{{ project_name }} (${bundle.target})"
      description: "Main job for {{ project_name }}"

      tasks:
        - task_key: main
          python_wheel_task:
            package_name: {{ package_name }}
            entry_point: {{ project_slug }}
            parameters:
              - "--catalog"
              - "${var.catalog}"
              - "--schema"
              - "${var.schema}"
              - "--log-level"
              - "${var.log_level}"
{%- if compute == 'serverless' %}
          environment_key: default
{%- else %}
          job_cluster_key: main
          libraries:
            - whl: ../dist/*.whl  # relative to this file
{%- endif %}

      schedule:
        quartz_cron_expression: "0 0 8 * * ?"
        timezone_id: "Europe/Paris"
        pause_status: ${var.pause_status}

      email_notifications:
        on_failure:
          - {{ author_email }}
{%- if compute == 'serverless' %}

      environments:
        - environment_key: default
          spec:
            environment_version: "{{ serverless_environment }}"
            dependencies:
              - ../dist/*.whl  # relative to this file
{%- else %}

      job_clusters:
        - job_cluster_key: main
          new_cluster:
            spark_version: "{{ databricks_runtime }}.x-scala{{ runtime.scala }}"
            node_type_id: ${var.node_type_id}
            data_security_mode: DATA_SECURITY_MODE_AUTO
            autoscale:
              min_workers: 1
              max_workers: ${var.max_workers}
            # spark_conf:
            #   spark.sql.shuffle.partitions: "auto"
{%- endif %}
